<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <input placeholder="Full Name"/>
        <input placeholder="Enter your Email"/>
        <input placeholder="Enter your password"/>
        <button style="padding: 1rem 2rem; border-radius: 50px; background-color: aquamarine;">login</button>
    </form>
</body>
</html>